$accentColor = #20a0ff

width-mobile = 768px
mobile = "only screen and (max-width: " + width-mobile + ")"

blockquote
  font-size: 1rem !important

#app
  .home
    box-sizing border-box
    width 100%
    height calc(100vh - 3.6rem)
    display flex;
    flex-direction column
    justify-content center
    .hero
      h1
        margin 1rem auto
        font-size 2.1rem
      img
        margin 0 auto
        width 7.5rem
        height 7.5rem
      .description
        font-size 1.2rem
        margin 0 auto

// .button-ripple{
//   display: inline-block;
//   margin: auto;
//   overflow: hidden;
//   position: relative;
//   background-color: #EFEFEF;
//   text-align: center;
//   border-radius: 50%;
//   border: 1px solid #EFEFEF;
//   transition: background-color .3s linear, border .3s linear;
//   box-shadow: 0 0 0 rgba(52,223,165, 0.4);
//   animation: pulse 2s infinite;
//   &:after{
//     content: "";
//     display: block;
//     position: absolute;
//     width: 3.1rem;
//     height: 3.1rem;
//     top: 0;
//     left: 0;
//     pointer-events: none;
//     background-image: radial-gradient(circle, #000 10%, rgba(0, 0, 0, .2) 10.01%);
//     background-repeat: no-repeat;
//     background-position: 50%;
//     transform: scale(10);
//     opacity: 0;
//     transition: transform .5s, opacity 1s;
//   }
//   &:active:after{
//     border-radius: 50%;
//     transform: scale(0);
//     opacity: .2;
//     transition: 0s;
//   }
//   &:hover{
//     border-radius: 50%;
//     color: $jade;
//     fill: $jade;
//     border: 1px solid $jade;
//     animation: pulse 2s infinite;
//   }
//   &:focus{
//     border-radius: 50%;
//     border-color: rgba(52,223,165, 0.5);
//   }
// }
// @keyframes pulse {
//   0% {
//     -moz-box-shadow: 0 0 0 0px rgba(52,223,165, 0.8);
//     box-shadow: 0 0 0 0px rgba(52,223,165, 0.8);
//     border-color: rgba(52,223,165, 0.6);
//   }
//   80% {
//     -moz-box-shadow: 0 0 0 10px rgba(52,223,165, 0);
//     box-shadow: 0 0 0 10px rgba(52,223,165, 0);
//   }
//   100% {
//     -moz-box-shadow: 0 0 0 0 rgba(52,223,165, 0);
//     box-shadow: 0 0 0 0 rgba(52,223,165, 0);
//   }
// }